.AvatarWithText{
    width: 48px;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 3px 3px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DateDay{
    font-size: 1rem;
    font-weight: bold;
}

.DateMonth{
    font-size: 0.75rem;
}